**Import necessary libraries and methods**

In [1]:
#import necessary libraries, functions or methods
import mysql.connector
from mysql.connector import Error

**#################### FUNCTIONS ####################**

In [3]:
#function to connect to a MySQL DataBase
def create_connection(host_name, user_name, user_password, bd_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = bd_name
        )
        print(f"Successful connection to the MySQL database '{bd_name}'")
    
    except Error as e:
        print(f"Error occurred -> '{e}'")
    
    return connection

In [4]:
#function to execute queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query executed successfully')
    except Error as e:
        print(f"Error occurred -> {e}'")

In [5]:
#function for query reading
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"Error ocurred -> '{e}' during reading")

**Connection to "movies" Database on MySQL Server**

In [6]:
connection = create_connection('localhost', 'root', 'Carlos123', 'movies')

Successful connection to the MySQL database 'movies'

**Query to enter data into the "genres" table"**

The data has already been entered into the "genres" table, so the execution will not be displayed in this notebook.

In [ ]:
data_to_genres = """
INSERT INTO
movies.genres (gen_id, get_title)
VALUES
  ('1001','Action'),
  ('1002','Adventure'),
  ('1003','Animation'),
  ('1004','Biography'),
  ('1005','Comedy'),
  ('1006','Crime'),
  ('1007','Drama'),
  ('1008','Horror'),
  ('1009','Music'),
  ('1010','Mystery'),
  ('1011','Romance'),
  ('1012','Thriller'),
  ('1013','War');
"""

execute_query(connection, data_to_genres)

**Query to read the data entered in the "genres" table**

In [7]:
genres_reading = 'SELECT * FROM genres;'

execute_read_query(connection, genres_reading)

[(1001, 'Action'),
 (1002, 'Adventure'),
 (1003, 'Animation'),
 (1004, 'Biography'),
 (1005, 'Comedy'),
 (1006, 'Crime'),
 (1007, 'Drama'),
 (1008, 'Horror'),
 (1009, 'Music'),
 (1010, 'Mystery'),
 (1011, 'Romance'),
 (1012, 'Thriller'),
 (1013, 'War')]

**#################### QUERIES ####################**

**1. SQL query to find the name and year of the movies.**

In [8]:
query_1 = """SELECT mov_title, mov_year FROM movie;"""

execute_read_query(connection, query_1)

[('Vertigo', 1958),
 ('The Innocents', 1961),
 ('Lawrence of Arabia', 1962),
 ('The Deer Hunter', 1978),
 ('Amadeus', 1984),
 ('Blade Runner', 1982),
 ('Eyes Wide Shut', 1999),
 ('The Usual Suspects', 1995),
 ('Chinatown', 1974),
 ('Boogie Nights', 1997),
 ('Annie Hall', 1977),
 ('Princess Mononoke', 1997),
 ('The Shawshank Redemption', 1994),
 ('American Beauty', 1999),
 ('Titanic', 1997),
 ('Good Will Hunting', 1997),
 ('Deliverance', 1972),
 ('Trainspotting', 1996),
 ('The Prestige', 2006),
 ('Donnie Darko', 2001),
 ('Slumdog Millionaire', 2008),
 ('Aliens', 1986),
 ('Beyond the Sea', 2004),
 ('Avatar', 2009),
 ('Braveheart', 1995),
 ('Seven Samurai', 1954),
 ('Spirited Away', 2001),
 ('Back to the Future', 1985)]

**2. SQL query to find movies released before 1998.**

In [9]:
query_2 = """SELECT mov_title, mov_year FROM movie 
              WHERE mov_year < 1998;"""

execute_read_query(connection, query_2)

[('Vertigo', 1958),
 ('The Innocents', 1961),
 ('Lawrence of Arabia', 1962),
 ('The Deer Hunter', 1978),
 ('Amadeus', 1984),
 ('Blade Runner', 1982),
 ('The Usual Suspects', 1995),
 ('Chinatown', 1974),
 ('Boogie Nights', 1997),
 ('Annie Hall', 1977),
 ('Princess Mononoke', 1997),
 ('The Shawshank Redemption', 1994),
 ('Titanic', 1997),
 ('Good Will Hunting', 1997),
 ('Deliverance', 1972),
 ('Trainspotting', 1996),
 ('Aliens', 1986),
 ('Braveheart', 1995),
 ('Seven Samurai', 1954),
 ('Back to the Future', 1985)]

**3. SQL query to find the names of all critics who have rated with 7 or more stars.**

In [10]:
query_3 = """SELECT re.rev_name, ra.rev_stars
              FROM reviewer re, rating ra
              
              WHERE re.rev_id = ra.rev_id 
              and ra.rev_stars >= 7;"""

execute_read_query(connection, query_3)

[('Righty Sock', 8),
 ('Jack Malvern', 8),
 ('Flagrant Baronessa', 8),
 ('', 8),
 ('Victor Woeltjen', 7),
 ('Simon Wright', 9),
 ('Mike Salvati', 8),
 ('', 8),
 ('Sasha Goldshtein', 7),
 ('Righty Sock', 8),
 ('Krug Stillo', 8),
 ('Hannah Steele', 8),
 ('Vincent Cadena', 8),
 ('Brandt Sponseller', 8),
 ('Richard Adams', 7)]

**4. SQL query to find the titles of all movies with no ratings.**

In [11]:
query_4 = """SELECT m.mov_title, ra.num_o_ratings
              FROM movie m, rating ra

              WHERE m.mov_id = ra.mov_id
              and ra.num_o_ratings = 0;"""

execute_read_query(connection, query_4)

[('Avatar', 0), ('Princess Mononoke', 0)]

**5. SQL query to find the list of all movies with the year that include the words Boogie Nights.**

In [12]:
query_5 = """SELECT m.mov_title, m.mov_year
              FROM movie m

              WHERE m.mov_title LIKE "Boogie%" OR m.mov_title LIKE "Nights%";"""

execute_read_query(connection, query_5)

[('Boogie Nights', 1997)]

**6. SQL query to list all the information of actors who played a role in the movie 'Annie Hall'.**

In [13]:
query_6 = """SELECT a.act_id,
                    concat(a.act_fname, " ", a.act_lname),
                    a.act_gender
              
              FROM movie m, actor a, movie_cast mc
              
              WHERE a.act_id = mc.act_id
              and mc.mov_id = m.mov_id
              and m.mov_title = "Annie Hall";"""

execute_read_query(connection, query_6)

[(111, 'Woody Allen', 'M')]

**7. SQL query to find the movie title, year, release date, director, and actor for movies whose critic is unknown.**

In [14]:
query_7 = """SELECT m.mov_title, m.mov_year, m.mov_dt_rel,
                    concat(d.dir_fname, " ", d.dir_lname),
                    concat(a.act_fname, " ", a.act_lname)

              FROM movie m, movie_direction md, director d,
                   rating ra, reviewer re,
                   movie_cast mc, actor a

              WHERE re.rev_id = ra.rev_id 
              and ra.mov_id = m.mov_id
              and m.mov_id = md.mov_id
              and md.dir_id = d.dir_id
              and m.mov_id = mc.mov_id
              and a.act_id = mc.act_id

              and trim(re.rev_name) = "";"""

execute_read_query(connection, query_7)

[('Blade Runner',
  1982,
  datetime.date(1982, 9, 9),
  'Ridley Scott',
  'Harrison Ford'),
 ('Princess Mononoke',
  1997,
  datetime.date(2001, 10, 19),
  'Hayao Miyazaki',
  'Claire Danes')]

**8. SQL query to list all movies released in a country other than the United Kingdom.**

In [15]:
query_8 = """SELECT m.mov_title, m.mov_rel_country
              FROM movie m
              
              WHERE m.mov_rel_country != "UK";"""

execute_read_query(connection, query_8)

[('The Innocents', 'SW'), ('Annie Hall', 'USA'), ('Seven Samurai', 'JP')]

**9. SQL query to find all the years in which at least one movie was produced and received a rating of more than 3 stars (results in ascending order).**

In [16]:
query_9 = """SELECT distinct m.mov_year
              FROM movie m, rating ra
              
              WHERE m.mov_id = ra.mov_id
              and ra.rev_stars > 3
              
              ORDER BY m.mov_year ASC;"""

execute_read_query(connection, query_9)

[(1958,),
 (1961,),
 (1962,),
 (1977,),
 (1982,),
 (1986,),
 (1995,),
 (1997,),
 (1999,),
 (2001,),
 (2004,),
 (2008,),
 (2009,)]

**10. SQL query to find the titles of all movies with no reviewer rating (star ratings).**

In [17]:
query_10 = """SELECT m.mov_title, ra.rev_stars
              FROM movie m, rating ra

              WHERE m.mov_id = ra.mov_id
              and ra.rev_stars = 0;"""

execute_read_query(connection, query_10)

[('Chinatown', 0), ('Trainspotting', 0)]